@import '~Assets/theme.sass';

$header-height: 70px !default;

.header-wrapper {
    @extend .floating-top-fullwidth;
    z-index: 9999 !important;
}

.header-content {
    @extend .container;
    background: $background;
}

.logo {
    @extend .level-left;
}

.search-box {
    @extend .level-right;
}
