@import '~Assets/fonts/ostrich-sans.css';

html, body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #010135, #00275c, #004984, #006fac, #0096d3);

}

#mountroot {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.app-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}


#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 6px;
    box-shadow: 0 1px 4px black;
}

#content {
    position: absolute;

    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
}

.logo {
    display: inline-block;
    font-family: 'Ostrich Sans';
    font-size: 32pt;
    text-align: center;
}
.logo .left {
    font-weight: 900;
}
.logo .right {
    font-weight: 700;
    // font-size: 28pt;
}

.controls {
    float: right;
}

.stub {
    height: 6px;
}

