@import "~bulma/sass/utilities/initial-variables"
@import "~bulma/sass/utilities/functions"

$my-deep-dark-blue: #010135
$my-deep-blue: #01528a
$my-light-blue: #0096d3
$my-light-yellow: #eeebc2
$my-beige: #c7bfaa
$my-white: white;

$my-text-color: #dddddd

$text: $my-text-color
$text-light: $my-text-color
$text-strong: $my-text-color

$link: $my-beige

// Buttons
$button-color: $my-text-color
$button-hover-color: $my-white
$button-focus-color: $my-light-yellow
$button-active-color: $my-white

$button-background-color: transparent

$button-border-color: $my-light-blue
$button-hover-border-color: $my-beige
$button-focus-border-color: $my-light-yellow
$button-active-border-color: $my-beige

// Tabs
$tabs-border-bottom-color: $my-light-blue
$tabs-link-active-border-bottom-color: $my-deep-dark-blue
$tabs-link-active-color: $my-white

// Forms
$label-color: $my-text-color
$input-color: $my-text-color
$input-background-color: transparent

$input-border-color: $my-light-blue
$input-hover-border-color: $my-beige
$input-focus-border-color: $my-light-yellow

$input-focus-box-shadow-size: 0

$input-icon-color: $my-light-blue
$input-icon-active-color: $my-light-yellow

$input-shadow: none

@import "~bulma/bulma"
@import "./common"
