
.user-controls {
    padding-top: 14px;
    .user-controls-current-user {
        i {
            margin-right: 4px;
        }
    }  
    .user-controls-logout {
        margin-left: 12px;
        font-size: 14pt;
    }
}