.track-list {
    list-style: none;
    margin: 0 !important;
    display: table;
    width: 100%;

    li {
        list-style: none;
        margin: 0 !important;
        display: table-row;

        .track-number-nohover {
            display: inline-block;
        }
        .track-number-hover {
            display: none;
        }

        button {
            background: none;
            width: 36px;
            height: 36px;
            border: 1px solid #c7bfaa;
            border-radius: 18px;
            color: #c7bfaa;
        }
        button:hover {
            background: #0096d3;
            transition: background 0.2s;
        }
        button:active {
            background: #dddddd;
            color: #242424;
            transition: background 0.2s;
        }

        > span {
             display: table-cell;
             padding-right: 4px;
             vertical-align: middle;
             border-bottom: 1px solid #0096d3;
             padding: 4px;
        }
        > span:first-child {
            padding-left: 16px;
        }
        > span:last-child {
            padding-right: 16px;
        }

        .track-number {
            width: 58px;
            text-align: center;
            color: #c7bfaa;
            overflow: hidden;
        }

        .track-info {
            span {
                display: block;
            }

            .track-title {

            }

            .track-sub {
                font-size: 10pt;
                // color: #c7bfaa;
            }
        }

        .track-length {
            text-align: right;
            color: #c7bfaa;
        }
    }

    li:last-child > span {
        border-bottom: none;
    }

    li:hover {
        background: rgba(0, 151, 211, 0.425);
        transition: background 0.2s;

        .track-number-nohover {
            display: none;
        }
        .track-number-hover {
            display: inline-block;
        }
    }
}
