#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 6px;
    box-shadow: 0 1px 4px black;
}

#content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    padding: 16px 0;
}
