@import '~Assets/theme.sass';


// Configurable theme vars
$player-background: none !default;
$player-color: #dddddd !default;
$player-color-secondary: #c7bfaa !default;
$player-color-accent: #ce3623 !default;

$player-timeline-color: #01528a;
$player-timeline-cached-color: #0096d3;
$player-timelone-progress-color: #c7bfaa;

$player-font-size: 12pt !default;
$player-font-size-secondary: 10pt !default;

$player-info-width: 20%;
$player-height: 50px !default;


// Constants
$max-timeline-height: 10px;

// Derived vars
$player-size-A: $player-height;

$player-min-width: 9 * $player-size-A;
$player-height-whole: $player-height + $max-timeline-height;

$controls-height: $player-size-A;
$control-button-width: $player-size-A;
$control-button-height: $player-size-A;



.player-wrapper {
    padding: 0 4px;

    .player-track-info {
        // text-overflow: ellipsis;
        display: inline-block;
        text-align: left;

        .player-track-info-title {
            color: $player-color;
            font-size: $player-font-size;
        }
        .player-track-info-subtitle {
            color: $player-color-secondary;
            font-size: $player-font-size-secondary;
            font-weight: normal;
        }
        .player-track-info {
            display: inline-block;
            white-space: nowrap;
            text-align: right;
        }
    }


    .player-timeline-wrapper {
        position: relative;
        height: 100%;
        min-height: 22px;

        .player-timeline {
            height: 3px;
            position: absolute;
            top:44%;
            left: 14px;
            right: 14px;
            border-radius: 2px;
            background: $player-timeline-color;

            div {
                position: absolute;
                height: 100%;
            }

            .player-timeline-slider {
                top: -4px;
                width: 12px !important;
                height: 12px !important;
                background: white;
                z-index: 100;
                border-radius: 6px;
            }

            .player-timeline-cached {
                background-color: $player-timeline-cached-color;
            }

            .player-timeline-position {
                background-color: $player-timelone-progress-color;
            }
        }
    }

    // .player-controls {
    //     padding-top: 0;
    // }
    .player-controls-mobile {
        // @extend .player-controls;
        float: right;
    }

    .player-control-buttons {
        margin-top: 3px;
        .player-control {
            display: inline-block;
            width: 40px;
            height: 40px;
            border: 1px solid;
            border-color: transparent;
            border-radius: 20px;
            color: $player-color-secondary;
            vertical-align: middle;
            text-align: center;
            padding-top: 6px;
        }
        .player-control * {
            display: inline-block;
        }
        .player-control:hover {
            color: $player-color;
            border: 1px solid $player-timeline-color;
            border-color: $player-color;
        }
    }


}


